<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="emSys2016.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
        <emSys2016.My.MySettings>
            <setting name="serverHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="serverUser" serializeAs="String">
                <value>fujun</value>
            </setting>
            <setting name="serverPass" serializeAs="String">
                <value>033277900</value>
            </setting>
            <setting name="serverDB" serializeAs="String">
                <value>fujun</value>
            </setting>
            <setting name="sysTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="sysColor" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="serverPort" serializeAs="String">
                <value>3306</value>
            </setting>
        </emSys2016.My.MySettings>
    </userSettings>
</configuration>