<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="fujunEmsys.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <fujunEmsys.My.MySettings>
      <setting name="serverHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="serverUser" serializeAs="String">
        <value>fujun</value>
      </setting>
      <setting name="serverPass" serializeAs="String">
        <value>033277900</value>
      </setting>
      <setting name="serverDB" serializeAs="String">
        <value>fujun</value>
      </setting>
      <setting name="sysTheme" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="sysColor" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="serverPort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="autoSaveTrigger" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="engUpperDanger" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="engUpperWarning" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="engLowerWarning" serializeAs="String">
        <value>85</value>
      </setting>
      <setting name="engLowerDanger" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="emsUpperDanger" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="emsUpperWarning" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="emsLowerWarning" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="emsLowerDanger" serializeAs="String">
        <value>20</value>
      </setting>
    </fujunEmsys.My.MySettings>
  </userSettings>
</configuration>